

#header {
	background-color:lightgrey;
	height:100px;
}

#nav {
	color:white;
	width:210px;
	height:1050px;
	float:left;
	margin-left: 80px;
	border-left: 2px solid rgb(255, 212, 126);
	border-right: 2px solid rgb(255, 212, 126);
}

#section-dh {
	width: 1500px;
	height: 1000px;
	text-align:left;
	float:left;
	padding:10px;
    margin-bottom: 500px;
}

#footer {
	background-color:#FFCC00;
	height:100px;
	clear:both;
}

#header, #nav, #section, #footer { text-align:center; }

#header, #footer { line-height:100px; }

/* #section { line-height:240px; } */

/* 카테고리 바 */
/* .licategory { 
	display: block;
	width: 200px;
	height: 50px;
	text-align: center;
	line-height: 50px; 
	
} */
.licategory { 
	text-decoration-line: none;
	box-sizing: border-box;
	display: block;
	width: 210px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: white;
	transition-duration: 1s;
}

/* summernote 카테고리 크기*/
.licategory2 { 
	box-sizing: border-box;
	display: block;
	width: 206px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	background-color: white;
	transition-duration: 1s;
}
/* 카테고리 여백 */
.div1{
	width: 200px;
	height: 150px;
	text-align: center;
}

/* 마진 0 */
.hrline1 {
	width: 1900px;
	height: 2px;
	background-color:rgb(255, 212, 126);
	margin: 0;
}

.title {
	margin-left: 30px;
	width: 1500px;
	height: 150px;
	line-height: 150px;
	text-align: center;
	border-bottom: 2px solid  rgb(255, 212, 126) ;
    /* margin-left: 150px; */
}

/* 버튼 div */
.divbutton1{
	width: 1500px;
	height: 70px;
	margin-left: 30px;
}

.button1{
	background-color: rgb(255, 212, 126);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px; 
    font-weight: bold;
}

/* 게시판 */
.table {
	margin-left: 30px;
	width: 1500px;
	height: 500px;
	text-align: center;
}

/* 게시판 라인*/
.div2 {
	margin-left: 30px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	width: 1500px;
	height: px;
}

/* ================================== transition =========================================== */

nav ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
	flex-direction: column;
}

nav li{
	float: none; 
	width: 100%;
}

nav li a{
	display: block; 
	width: 100%; 
	padding: 20px; 
	border-left: 5px solid; 
	position: relative; 
	z-index: 2;
	text-decoration: none;
	color: #444;
	box-sizing: border-box;  
	-moz-box-sizing: border-box;  
	-webkit-box-sizing: border-box; 
}
	
nav li a:hover{ border-bottom: 0px; color: #fff;}
nav li:first-child a{ border-left: 10px solid #ffd071; }
nav li:nth-child(2) a{ border-left: 10px solid #ffd071; }
nav li:nth-child(3) a{ border-left: 10px solid #ffd071; }
nav li:nth-child(4) a{ border-left: 10px solid #ffd071; }
nav li:nth-child(5) a{ border-left: 10px solid #ffd071; }
nav li:last-child a{ border-left: 10px solid #ffd071; }

nav li a:after { 
	content: "";
	height: 100%; 
	left: 0; 
	top: 0; 
	width: 0px;  
	position: absolute; 
	transition: all 1s ease 0s; 
	-webkit-transition: all 1s ease 0s; 
	z-index: -1;
}

nav li a:hover:after{ width: 100%; }
nav li:first-child a:after{ background: #ffd071; }
nav li:nth-child(2) a:after{ background: #ffd071; }
nav li:nth-child(3) a:after{ background: #ffd071; }
nav li:nth-child(4) a:after{ background: #ffd071; }
nav li:nth-child(5) a:after{ background: #ffd071; }
nav li:last-child a:after{ background: #ffd071; }


.a1{
	padding-left: 0px;
	border-top-width: 0px;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
}
/* ================================== transition: 스텝 리스트 메인 내용 =========================================== */

/* 메인 내용 */
.mainbox {
    width: 1260px;
    height: 1200px;
    
    margin-left: 50px;
    margin-top: 30px;
    margin-right: 100px;
    float: left;
  }
  
   .maintitle {
      padding-top: 50px;
      height: 150px;
      
  }
  
  .listcategory {
    padding: 20px 0 20px 60px;
     width: 100%;
     height: 30px;
     display: flex;
     line-height: 40px;
     border-top: 3px solid #333 ;
     border-bottom: 3px solid #333;
  }
  
  .memberlist {
    width: 1320px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .lc-num1 {
    text-align: center;
    width: 50px;
    height: 20px;
    padding-left: 10px;
  }
  
  .lc-num2 {
    text-align: center;
    width: 150px;
    height: 20px;
  }
  
  .lc-num3 {
    text-align: center;
    width: 100px;
    height: 20px;
  }
  
  .lc-num4 {
      text-align: center;
      width: 250px;
      height: 20px;
  }
  
  .lc-num5 {
    text-align: center;
    width: 150px;
    height: 20px;
  }
  
  .lc-num6 {
      text-align: center;
      width: 400px;
      height: 20px;
    }
  
    .lc-num7 {
      text-align: center;
      width: 70px;
      height: 20px;
    }
  
  .list {
    display: flex;
    border-bottom: 1px solid rgb(244, 244, 244);
    width: 1320px;
  }
  
  .checkbox {
    width: 50px;
    height: 50px;
    padding: 0px 5px;
    line-height: 60px;
    
  }
  
  .sequence1 {
    text-align: center;
    padding: 20px 0px;
    color: rgb(76, 76, 76);
    flex-basis: 50px;
   
  }
  
  .mem-id {
    padding: 20px 0px 20px 20px;
    color: rgb(76, 76, 76);
    /* flex: 1 1 0%; */
    text-align: center;
    width: 120px;
  }
  
  .mem-name {
    text-align: center;
    padding: 20px 0px;
    color: rgb(76, 76, 76);
    /* flex-basis: 100px; */
    width: 150px;
  
  }
  
  .mem-nick {
    text-align: center;
    padding: 20px 0px;
    color: rgb(76, 76, 76);
    /* flex-basis: 100px; */
    width: 185px;
  }
  
  .mem-bank {
    text-align: left;
    padding: 20px 0px 20px 80px;
    /* flex-basis: 100px; */
    width: 215px;
    color: rgb(153, 153, 153);
  
  }
  
  .mem-account {
      text-align: center;
      padding: 20px 80px 20px 0px;
      /* flex-basis: 100px; */
      width: 180px;
      color: rgb(153, 153, 153);
    }
  
  .mem-date {
      text-align: center;
      padding: 20px 0px;
      /* flex-basis: 100px; */
      width: 147px;
      color: rgb(153, 153, 153);
    }
  
  /* 은행 선택 토글 */
  .toggle {
      width: 160px;
      padding: 10px 0px;
      float: left;
  }
    
  /* 검색창 영역 */
  .searchbar {
      display:flex;
      justify-content: flex-start;
      width: 600px;
      float:left;
      padding-top: 30px;
      margin-left: 0px;
  }
  
  .period {
      padding: 10px 0px;
      width: 550px;
  }
  
  
  
  /* 출금 접수 및 취소 버튼 영역 */
  
  .top-info {
      display: flex;
      -webkit-box-pack: center;
      margin-bottom: 40px;
      margin-top: 25px;
      justify-content: flex-end;
      width: 1320px;
    }
    
  .receive {
      background-color: rgb(255, 212, 126);
      color: #000;
      width: 120px;
      height: 44px;
      margin: 0px 5px;
      border-radius: 3px;
      border: 0;
    }
  
  .cancel {
      background-color: rgb(255, 212, 126);
      color: #000;
      width: 120px;
      height: 44px;
      margin: 0px 5px;
      border-radius: 3px;
      border: 0;
    }
  
  
  /* 아래 영역 */
  
  .bottom-info {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    margin-top: 20px;
    padding-top: 40px;
    border-top: 1px solid rgb(244, 244, 244);
  }
  
  /* a {
    display: inline-block;
    width: 1320px;
    height: 62px;
  } */
  
  
  /* 페이지 넘어가는 숫자 */
  
  .page-num {
    display: flex;
      -webkit-box-align: center;
      align-items: center;
      -webkit-box-pack: center;
      justify-content: center;
      width: 34px;
      height: 34px;
      border-top: 1px solid rgb(221, 221, 221);
      border-right: 1px solid rgb(221, 221, 221);
      border-bottom: 1px solid rgb(221, 221, 221);
      border-image: initial;
      border-left: none;
      cursor: pointer;
      background-color: rgb(247, 247, 247);
      color: #4f709c;
  }
  
  .before {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-top: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-image: initial;
    border-left: 1px solid rgb(221, 221, 221);;
    cursor: pointer;
  }
  
  .after {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    width: 34px;
    height: 34px;
    border-top: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
    border-bottom: 1px solid rgb(221, 221, 221);
    border-image: initial;
    border-left: none;
    cursor: pointer;
  }
  
  
  
  